[submodule ".registry"]
	path = .registry
	url = https://github.com/tractortom/tractortom.r-universe.dev
	branch = HEAD
[submodule "TBox"]
	path = TBox
	url = https://github.com/TractorTom/TractorTsbox
