[submodule ".registry"]
	path = .registry
	url = https://github.com/tractortom/tractortom.r-universe.dev
	branch = HEAD
[submodule "date4ts"]
	path = date4ts
	url = https://github.com/TractorTom/date4ts
[submodule "rotulador"]
	path = rotulador
	url = https://github.com/TractorTom/rotulador
