[submodule ".registry"]
	path = .registry
	url = https://github.com/tractortom/tractortom.r-universe.dev
	branch = HEAD
[submodule "TractorTsbox"]
	path = TractorTsbox
	url = https://github.com/TractorTom/TractorTsbox
